#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "ssid"
#define WIFI_PASS "pass"

// MQTT configuration
#define MQTT_BROKER_URL "mqtt://192.168.1.200:1883"
#define MQTT_USERNAME "name"
#define MQTT_PASSWORD "pass"
//#define MQTT_TOPIC_DISCOVERY_PREFIX "homeassistant"

// Identyfikator urządzenia (używany w tematach MQTT i HA)
#define DEVICE_NAME        "USB_Audio_Amp"
#define DEVICE_ID          "esp32_amp_01"         // Unikalne ID bez spacji

#endif // SECRETS_H
